<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Глаза</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/ui/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/ui/bootstrap-dashboard/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/ui/bootstrap-dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/ui/bootstrap-dashboard/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Глаза</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin">Settings</a></li>
            <li><a href="https://github.com/vcarceler/glaza/">Source</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {% for network in network_list %}
            <li {% if network.name == current_network.name %}class="active"{% endif %}><a href="{% url 'network' network.name %}">{{ network.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h1 class="page-header">{{ host.ansible_facts.ansible_hostname }} ({{ host_id }})</h1>

          <h2 class="sub-header">Ansible exploration:</h2>
          <p><b>Date:</b> {{ host.ansible_facts.ansible_date_time.iso8601_micro }}</p>
          <p><b>Ansible machine ID:</b> {{ host.ansible_facts.ansible_machine_id }}</p>

          <h2 class="sub-header">Operating System:</h2>
          <p><b>Distribution:</b> {{ host.ansible_facts.ansible_distribution }}</p>
          <p><b>Release:</b> {{ host.ansible_facts.ansible_distribution_release }}</p>
          <p><b>Version:</b> {{ host.ansible_facts.ansible_distribution_version }}</p>
          <p><b>OS family:</b> {{ host.ansible_facts.ansible_os_family }}</p>
          <p><b>Package manager:</b> {{ host.ansible_facts.ansible_pkg_mgr }}</p>
          <p><b>Boot image:</b> {{ host.ansible_facts.ansible_cmdline.BOOT_IMAGE }}</p>

          <h2 class="sub-header">Network:</h2>
          <p><b>Default interface:</b> {{ host.ansible_facts.ansible_default_ipv4.interface }}</p>
          <p><b>Type:</b> {{ host.ansible_facts.ansible_default_ipv4.type }}</p>
          <p><b>Default gateway:</b> {{ host.ansible_facts.ansible_default_ipv4.gateway }}</p>
          <p><b>Network:</b> {{ host.ansible_facts.ansible_default_ipv4.network }}/{{ host.ansible_facts.ansible_default_ipv4.netmask }}</p>
          <p><b>MTU:</b> {{ host.ansible_facts.ansible_default_ipv4.mtu }}</p>
          <p><b>IPv4 addresses:</b> {{ host.ansible_facts.ansible_all_ipv4_addresses }}</p>
          <p><b>IPv6 addresses:</b> {{ host.ansible_facts.ansible_all_ipv6_addresses }}</p>

          <h2 class="sub-header">Product:</h2>
          <p><b>Vendor:</b> {{ host.ansible_facts.ansible_system_vendor }}</p>
          <p><b>Name:</b> {{ host.ansible_facts.ansible_product_name }}</p>
          <p><b>Version:</b> {{ host.ansible_facts.ansible_product_version }}</p>
          <p><b>Serial:</b> {{ host.ansible_facts.ansible_product_serial }}</p>
          <p><b>UUID:</b> {{ host.ansible_facts.ansible_product_uuid }}</p>

          <h2 class="sub-header">Hardware:</h2>
          <p><b>Architecture:</b> {{ host.ansible_facts.ansible_architecture }}</p>
          <p><b>BIOS date:</b> {{ host.ansible_facts.ansible_bios_date }}</p>
          <p><b>BIOS version:</b> {{ host.ansible_facts.ansible_bios_version }}</p>
          <p><b>Storage:</b></p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Device</th>
                  <th>Size</th>
                  <th>Model</th>
                  <th>Host</th>
                </tr>
              </thead>
              <tbody>
                {% for key, data in host.ansible_facts.ansible_devices.items %}
                <tr><td>{{ key }}</td><td>{{ data.size }}</td><td>{{ data.model }}</td><td>{{ data.host }}</td></tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <p><b>Processor:</b> {{ host.ansible_facts.ansible_processor|first }} - {{ host.ansible_facts.ansible_processor|last }}</p>
          <p><b>Cores:</b> {{ host.ansible_facts.ansible_processor_cores }}</p>
          <p><b>Threads per core:</b> {{ host.ansible_facts.ansible_processor_threads_per_core }}</p>
          <p><b>VCPUs:</b> {{ host.ansible_facts.ansible_processor_vcpus }}</p>
          <p><b>Total memory:</b> {{ host.ansible_facts.ansible_memtotal_mb }} MB</p>


        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/ui/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/ui/bootstrap-dashboard/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/ui/bootstrap-dashboard/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
